<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.github.FisherRone.AutoPlanApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>autoplan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.github.FisherRone.AutoPlanApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>autoplan-weekly-report</string>
			</array>
		</dict>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>AutoPlanIntent</string>
		<string>GenerateWeeklyReportIntent</string>
		<string>EventPreviewSnippetIntent</string>
		<string>EventSnippetIntent</string>
		<string>OpenAutoPlanIntent</string>
	</array>
</dict>
</plist>
